body {
  	background-image: url("../img/background3.jpg");	
	background-position: 100%;
	background-repeat: repeat;
	color: black;
}

#index {
	background-image: url("../img/background2.jpg");
	background-position: center;
	background-size: cover;

}
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-family: 'Frijole', cursive;
}

#menu {
	display: inline-block;
}

#menu li {
	list-style: none;
	font-family: 'Frijole', cursive;
	display: inline-block;
}

#menu a {
	text-decoration: none;
	color: black;
	font-size: 1.25em;
}

.top {
	vertical-align: top;

}

.sub {
	margin-left: -40px;
	font-size: 0.75em;
}

.supersub {
	width: 50px;
	padding-left: 0;
}
.supersub li {
	width: 50px;
	font-size: 0.6em;
	margin-left: 25px;
}

#feature img {
	max-width: 400px;
}
#feature h3 {
	font-family: 'Frijole', cursive;
}
