body {
  	background-image: url("../img/background3.jpg");	
	background-position: 100%;
	background-repeat: repeat;
	color: black;
	font-family: 'Droid Sans', sans-serif;
}

.header {
	display: inline-block;
	font-size: 1.5em;
	margin-top: 0;
}
#index {
	background-image: url("../img/background2.jpg");
	background-position: center;
	background-size: cover;

}
#logo {
	display: inline-block;
	margin-left: 10px;
	margin-top: -20px;
}

h1 {

	font-family: 'Frijole', cursive;
	
}

.jumbotron {
  	background-image: url("../img/background3.jpg");	
}

#intro {
	padding: 20px;
	color: black;
}
#menu {
	display: inline-block;
}

#menu li {
	list-style: none;
	font-family: 'Frijole', cursive;
	display: inline-block;
}

#menu a {
	text-decoration: none;
	color: black;
}

.top {
	vertical-align: top;

}

.sub {
	margin-left: -40px;
	font-size: 0.75em;
}

.supersub {
	width: 50px;
	padding-left: 0;
}
.supersub li {
	width: 50px;
	font-size: 0.6em;
	margin-left: 25px;
}

.semisub {
	width: 50px;
	font-size: 0.6em;
}

#feature img {
	padding: 20px;
}
#feature h3 {
	font-family: 'Frijole', cursive;
	margin-bottom: 20px;
}
