@media (min-width: 769px) {
	#menu li {
		display: block;
	}
	
#menu a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}	

#all {
	font-size: 1.5em;
}
	.sub {
		margin-left: 0;
		width: 200px;
	}

	.supersub {
		margin-left: 0;
		width: 200px;
	}
	.supersub li {
		width: 200px;
		font-size: 1em;
	}
	#imagelightbox {
  		left: 0!important;
  		padding: 20px;

  }
  .semisub {
		margin-left:0;
		width: auto;  
  }

/* CAPTION */
#imagelightbox-caption {
  right: 200px;
  left: 0;
  padding: 1.25em;
  margin-right: 100px;

} 
 	
}
