@import '_imports.scss';

.about {
	display: block;
	margin-left: auto;
	margin-right: auto;
	h2 {
		font-family: $frijole;
	}
}

#thoughts {
	margin-bottom: 100px;
}
.initial {
	padding: 20px;
	h2 {
		font-family: $frijole;
	}
}


#author {
	max-width: 300px;
	float: right;
	padding: 30px;
}

#teenager {
	max-width: 300px;
	float: left;
	padding: 30px;
}
