@import '_imports.scss';

.about {
	@include center-image;
	padding: 10px;
	h2 {
		font-family: $frijole;
	}
	#author {
		@include floatImage(right);
	}

	#teenager {
		@include floatImage(left);
	}	
}

.initial {
	padding: 20px;
	h2 {
		font-family: $frijole;
	}
	img {
		margin-bottom: 100px;
	}
}


