
.errorPage{
	height: 500px;
	h1{
		text-align: center;
	}
}


.icn-logo {
  background: #54606b;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 30px;
}
.icn-error {
  font-size: 5em;
  margin-bottom: .25em;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2em; 
}
