@import '_imports.scss';

#feature{ 
	img {
		padding: 10px;
		display: block;
		margin: 0 auto;
		&:hover {
			transition-duration: 0.5s;
			transform: scale(1.1, 1.1);
		}
	}
	h3 {
		font-family: $frijole;
		margin-bottom: 20px;
		text-align: center;
	}
}
