.list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	li {
		height: 325px;
	}
}


#gallery { 
	ul {
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				text-decoration: none;
			}
			p {
				margin-top: 20px;
				text-align: center; 
			}
			img {
				width: 150px;
				margin: 20px; 
				display: inline-block;
			}
			h4 {
				width: 200px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				color: black;
			}
		}
	}
}    

h2 {
	text-align: center;
}

.search {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.picture {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	background-image: url("../img/overlay.jpg");
	img {
		padding: 20px;
	}
}


.paragraph {
	margin-left: 30px;
}  

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.pagination {
	display: flex;
	justify-content: center;
}
