@import '_imports.scss';


#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: -20px;
	li {
		list-style: none;
		font-family: $frijole;
		vertical-align: top;
		font-size: 1em;
		margin: 10px;
	}
	a {
		text-decoration: none;
		color: black;
	}
	button {
		background-color:rgba(0,0,0,0);
		border: none;
		margin: 0;
	}	
}



