body {
  	background-image: url("../img/background3.jpg");	
	background-position: 100%;
	background-repeat: repeat;
	color: black;
	font-family: 'Droid Sans', sans-serif;
}

.header {
	display: inline-block;
	font-size: 1.5em;
	margin-top: 0;
}
#index {
	background-image: url("../img/background2.jpg");
	background-position: center;
	background-size: cover;

}
#logo {
	display: inline-block;
	margin-left: 10px;
	margin-top: -20px;
}

h1 {
	font-family: 'Frijole', cursive;	
}

.jumbotron {
  	background-image: url("../img/background3.jpg");	
}

#intro {
	padding: 20px;
	color: black;
}
#menu {
	display: inline-block;
	margin-left: -20px;
}

#menu li {
	list-style: none;
	font-family: 'Frijole', cursive;
	display: inline-block;
}

#menu a {
	text-decoration: none;
	color: black;
}

.top {
	vertical-align: top;

}

.sub {
	font-size: 0.75em;
}

.supersub {
	padding-left: 0;
}
.supersub li {
	font-size: 0.6em;
}

.semisub {
	font-size: 0.6em;
	margin-left: -40px;
	width: 95px;
}

.semisub li {
	display: block!important;
}

#feature img {
	padding: 20px;
}
#feature h3 {
	font-family: 'Frijole', cursive;
	margin-bottom: 20px;
}

/* OVERLAY */

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
}

#imagelightbox-overlay {
  background-image: url("../img/overlay.jpg");
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  }

/* "CLOSE" BUTTON */
#imagelightbox-close {
  width: 2.5em;
  height: 2.5em;
  text-align: left;
  background-color: #5a5a5a;
  position: fixed;
  z-index: 9999;
  top: 2em;
  right: 2em;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; 
  }


#imagelightbox-close:hover, #imagelightbox-close:focus{
  background-color: gray; 
  }

#imagelightbox-close:before, #imagelightbox-close:after  {
  width: 2px;
  color: #fff;
  content: 'x';
  font-size: 2.25em;
  position: absolute;
  top: -25%;
  left: 30%;
  margin-left: -1px; 
  }

