/* Main styles
-------------------------*/

body {
  	background-image: url("../img/background3.jpg");	
	background-position: 100%;
	background-repeat: repeat;
	color: black;
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	font-family: 'Frijole', cursive;	
}


/* Header styles
-------------------------*/

.jumbotron {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url("../img/background3.jpg");
	padding: 0;
}

.jumbotron h1 {
	font-size: 1.25em;
}

.logo {
	width: 20%;
	height: 20%;
}

/* Footer styles
-------------------------*/
footer {
	height: 10vh;
	font-family: 'Frijole', cursive;
	padding: 20px;
}






#index {
	background-image: url("../img/background2.jpg");
	background-position: center;
	background-size: cover;

}


.jumbotron {

	
}

#intro {
	padding: 20px;
	color: black;
}
#menu {
	display: inline-block;
	margin-left: -20px;
}

#menu li {
	list-style: none;
	font-family: 'Frijole', cursive;
	display: inline-block;
}

#menu a {
	text-decoration: none;
	color: black;
}

.top {
	vertical-align: top;

}


#feature img {
	padding: 20px;
}
#feature h3 {
	font-family: 'Frijole', cursive;
	margin-bottom: 20px;
}

/* OVERLAY */

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
}

#imagelightbox-overlay {
  background-image: url("../img/overlay.jpg");
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  }

/* "CLOSE" BUTTON */
#imagelightbox-close {
  width: 2.5em;
  height: 2.5em;
  text-align: left;
  background-color: #5a5a5a;
  position: fixed;
  z-index: 9999;
  top: 2em;
  right: 2em;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; 
  }


#imagelightbox-close:hover, #imagelightbox-close:focus{
  background-color: gray; 
  }

#imagelightbox-close:before, #imagelightbox-close:after  {
  width: 2px;
  color: #fff;
  content: 'x';
  font-size: 2.25em;
  position: absolute;
  top: -25%;
  left: 30%;
  margin-left: -1px; 
  }

