
.pagination>.active>a , .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #D2600A;
	border-color: #D2600A;
}

.pagination>li>a {
	color: #D2600A;
	border-color: #D2600A;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #D2600A;
    border-color: #D2600A;
    background-color: #eee;
}

/* Gallery CSS
----------------------------*/

.list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}
.list li {
	align-self: center;
}

.name {
	color: black;
}

#gallery ul li {
    display: inline-block;
    margin: 20px; 
    vertical-align: top;
}    
#gallery ul li a {
      text-decoration: none; 
}
#gallery ul li p {
      margin-top: 20px;
      text-align: center; 
 }
#gallery ul li img {
      width: 150px;
      display: inline-block;
}

#gallery ul li h4 {
      max-width: 150px;
      display: flex;
      justify-content: center;
      align-items: center; 
}

h2 {
	text-align: center;
}

.search {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Menu CSS
---------------------*/


#menu button {
	background-color:rgba(0,0,0,0);
	border: none;
	margin: 0;
}

.top {
	vertical-align: top;
	font-size: 1em;

}

#all {
	font-size: 1em;
	padding: 0;
}
.sub {
	font-size: 0.75em;
}

.supersub {
	padding-left: 0;
}
.supersub li {
	font-size: 0.6em;
	display: block!important;
}


.pagination li {
	margin: 0!important;
}

/* IMAGE LIGHTBOX STYLES 
---------------------------*/
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  top: 0!important;
  left: 0!important;
  padding: 20px;
  }
  

/* CAPTION */
#imagelightbox-caption {
  color: black;
  position: fixed;
  z-index: 10000;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-size: 0.9em;
 
}  
  
.picture {
	position: absolute;
	top: 0;
	width: 95%;
	height: 95%;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	background-image: url("../img/overlay.jpg");
}
.picture img {
	padding: 20px;
}

.paragraph {
	margin-left: 20px;
}  

/* OVERLAY */
#imagelightbox-overlay {
  background-image: url("../img/overlay.jpg");
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  }

/* "CLOSE" BUTTON */
#imagelightbox-close {
  width: 2.5em;
  height: 2.5em;
  text-align: left;
  background-color: #5a5a5a;
  position: fixed;
  z-index: 9999;
  top: 2em;
  right: 2em;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; 
  }
  
#imagelightbox-toggle {
  width: 2.5em;
  height: 2.5em;
  text-align: left;
  background-color: #5a5a5a;
  position: fixed;
  z-index: 9999;
  top: 5em;
  right: 2em;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; 
  }  

#imagelightbox-close:hover, #imagelightbox-close:focus, #imagelightbox-toggle:hover, #imagelightbox-toggle:focus {
  background-color: gray; 
  }

#imagelightbox-close:before, #imagelightbox-close:after  {
  width: 2px;
  color: #fff;
  content: 'x';
  font-size: 2.25em;
  position: absolute;
  top: -25%;
  left: 30%;
  margin-left: -1px; 
  }

#imagelightbox-toggle:before, #imagelightbox-toggle:after  {
  width: 2px;
  color: #fff;
  content: '+';
  font-size: 2.25em;
  position: absolute;
  top: -15%;
  left: 25%;
  margin-left: -1px; 
  }



